<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome to Sam and Cart!</title>
    </head>
    <body>
        <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            align="center"
            width="600">
            <tr>
                <td align="center" bgcolor="#f5f5f5" style="padding: 40px 0">
                    <h1>Welcome to Sam and Cart!</h1>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 40px 20px">
                    <p>Heyoo, <%= name %>,</p>
                    <p>
                        Thank you for signing up with Sam and Cart! We're
                        thrilled to have you as a member of our community.
                    </p>
                    <p>
                        With Sam and Cart, you can discover amazing products,
                        shop securely, and enjoy the convenience of online
                        shopping. We're constantly adding new products and
                        improving our platform to enhance your shopping
                        experience.
                    </p>
                    <p>
                        If you have any questions or need assistance, our
                        customer support team is here to help. Feel free to
                        reach out to us via email or through our support portal
                        on the Sam and Cart website.
                    </p>
                    <p>
                        Once again, welcome to Sam and Cart! Start exploring and
                        enjoy the world of online shopping.
                    </p>
                    <p>Best regards,</p>
                    <p>The Sam and Cart Team</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#f5f5f5" style="padding: 20px 20px">
                    <p style="text-align: center">
                        &copy; 2023 Sam and Cart. All rights reserved.
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
